/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Patua+One&family=Rubik:wght@300&family=Sniglet&display=swap');

* {
    box-sizing: border-box;
}

header,
section {
    overflow: hidden;
}

/* setting variables */
:root {
    --Snigle-font: "Snigle", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "Lobster", cursive;
    --light-back: #2e2c2caf;
    /* 设置渐变色 */
    --bggradient: linear-gradient(to bottom, #44a08d, #093637);
    /* --bggradient: linear-gradient(to bottom, #dd2476, #ff512f); */
    --light-gray: #f2f2f2;
}

/* ****************************** header ***************************** */
header a {
    font-family: var(--Snigle-font);
    font-size: 1.2em;
    color: whitesmoke;
}

header {
    background: var(--bggradient);
}

.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);

}

.dropdown-content a {
    color: black;
    padding: 12px 6px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.index .nav-item:last-child {
    padding-left: 20vmin;
}

.index .nav-item {
    padding: 0.9em;
}

.index .navbar-brand {
    padding-left: 8rem;
}

.index .navbar-brand:hover {
    color: black;
}

.index .nav-link:hover {
    color: black;
}

.index .row .col-md-5 {
    padding: 4.2vmin 1vmin;
}

.index .row .col-md-5 img {
    position: relative;
    width: 130%;
    left: -5vmin;
}

.index .row .col-md-7 {
    padding: 22vmin 1vmin;

    font-family: var(--Rubik);
    color: white;
}

/* letter-spacing */
.index .row .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px
}

.index .row .col-md-7 h1 {
    font-size: 8vmin;
    font-weight: bold;
    padding: 0.1em, 0em;
}

/* px and py */
.index .row .col-md-7 p {
    padding: 1vmin 5vmin;
}

/* border-radius */
.index .row .col-md-7 button {
    font-weight: bold;
    border-radius: 30px;
}



/* ****************************** section 1 ***************************** */

.section-1 {
    background: var(--light-gray);
}

/* search form */
.books-search {
    padding: 5vmin 0 5vmin 0;
    background: white;
}

.books-search .form-control {
    position: relative;
    border: none;
    border-radius: 4px;
    background: #edf3f4;
    box-shadow: none;
    font-size: 12px;
    line-height: 20px;
}

.books-search .btn {
    border-color: #2f2b35;
    color: #ffffff;
    background: #2f2b35;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 50px;
}

.btn.btn-primary {
    border: #2f2b35;
    color: #ffffff;
    background: #2f2b35;
    font-family: "Montserrat", sans-serif;
}

/* children's selection */
.section-1 .col-md-12>h1 {
    padding: 1em 0 0.5em 0;
    font-family: var(--Lobster);
    font-size: 6vmin;
}

.section-1 .child {
    margin-top: -7vmin;
}

.child .card {
    width: 15rem;
    margin-top: 10vmin;
}

.child h1 {
    color: black;
}

.child p {
    opacity: 0;
    color: black;
    font-family: var(--Rubik);
    font-size: 2vmin;
    text-align: left;
    margin-top: 2vmin;
    margin-left: 6vmin;
    width: 15rem;
}


.child-item:hover p {
    opacity: 1;

}


/* ****************************** section 2 ***************************** */
/* top padding between sections */
.section-2 .container {
    padding: 20vmin 0vmin;
}

.section-2 .row .col-md-6 .pray img {
    width: 80%;
    border-radius: 0.5em;
    opacity: 0.8;

}

/* panel relative position */
.section-2 .row .col-md-6:last-child {
    position: relative;
}

.section-2 .row .col-md-6 .panel {
    position: absolute;
    left: -18vmin;
    /* or margin-left: -18vmin without absolute */
    top: 7vmin;
    background: var(--bggradient);
    border-radius: 3px;
    text-align: left;
    padding: 5vmin 5vmin 8vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--Rubik);
    z-index: 1;
}

.section-2 .row .col-md-6 .panel h6 {
    text-align: right;
    padding-bottom: 3vmin;
    padding-right: 2vmin;
    font-size: 3vmin;
    font-family: var(--Lobster);
}

.section-2 .row .col-md-6 .panel p {
    color: white;
}

.section-2 .row .col-md-6 .panel h1 {
    font-family: var(--Lobster);
}

.section-2 .row .col-md-6 .panel button {
    border-radius: 30px;
    font-weight: bold;
}

.cover a:hover {

    text-decoration: none;

}

.cover {
    width: 100%;
    height: 30vmin;
    background: url("../asset/pexels-karolina-grabowska-4046791.jpg");
    background-position: -24rem -19rem;
    background-size: 150%;
    position: relative;
}

.cover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.cover .content {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding-top: 10vmin;
}

.cover .content>h1 {
    font-family: var(--Patua);
    font-size: 6vmin;
    color: whitesmoke;
}

.cover .content>p {
    font-family: var(--Rubik);
    font-size: 4vmin;
    color: #e5e5e5;
}

/* ****************************** section 3 ***************************** */
.section-3 {
    height: 75vmin;
    background: whitesmoke;
}

.section-3 .col-md-12>h1 {
    padding: 0.5em 0 0.5em 0;
    font-family: var(--Lobster);
    font-size: 6vmin;
}


.section-3 .bestseller {
    margin-top: -7vmin;
}

.bestseller .card {
    width: 15rem;
    margin-top: 10vmin;
}

.bestseller h1 {
    color: black;
}

.bestseller p {
    opacity: 0;
    color: black;
    font-family: var(--Rubik);
    font-size: 2vmin;
    text-align: left;
    margin-top: 2vmin;
    margin-left: 6vmin;
    width: 15rem;
}

.bestseller-item:hover p {
    opacity: 1;
}



/* ****************************** footer ***************************** */
footer {
    background: var(--bggradient);
    overflow-x: hidden;
    padding: 14vmin 18vmin;
}

footer p>span {
    color: #ff512f;
}

footer input {
    border: none !important;
}

footer input::placeholder {
    color: white !important;
}

footer .input-group .input-group-text {
    background: whitesmoke;
    border: none;
}

footer .column i {
    color: #dd2476;
}

/* leave the first i */
footer .column i+i {
    padding: 0 0.5em;
}


/* sticky nav */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;

    background: rgba(0, 0, 0, 0.815);
    z-index: 9999;
    transition: all 1.5s ease;
}



/* ****************************** welcome ***************************** */
.welcome {
    position: absolute;
    height: 100%;
    /* margin-top: 15vmin; */
    background: var(--bggradient);
    margin: 0;
    padding: 0;
}

.welcome .col-md-12>h1 {
    padding: 5em 0 0.5em 0;
    color: whitesmoke;
    font-size: 6vmin;
}

/* .section-3 .col-md-12>p {
    padding: 0 4em;
    padding-bottom: 2em;
    color: var(--light-gray);
    font-size: 3vmin;
} */

.welcome .desktop {
    color: black;
    background: white;
    border-radius: 3em;
    display: inline-block;
    padding: 2vmin 4.5vmin;
    margin: 1em;
}

.welcome .desktop:hover {
    background: #ddd;
}


.welcome .desktop h3 {
    font-size: 4vmin;
}

.welcome .desktop p {
    font-size: 2vmin;
}



/* ****************************** Books ***************************** */
.books .nav-item:last-child {
    padding-left: 20vmin;
}

.books .nav-item {
    padding: 0.9em;
}

.books .navbar-brand {
    padding-left: 8rem;
}

.books .navbar-brand:hover {
    color: black;
}

.books .nav-link:hover {
    color: black;
}

.books .row .col-md-5 {
    padding: 4.2vmin 1vmin;
    right: 2vmin;
    position: absolute;
}

.books .row .col-md-5 img {
    position: relative;
    width: 40%;
    margin-top: -15vmin;
    pointer-events: none;
}

.books .row .col-md-12 {

    padding: 10vmin;
    font-family: var(--Rubik);
    color: white;
}



.books .row .col-md-12 h1 {
    font-size: 8vmin;
    font-weight: bold;
    padding: 0.1em, 0em;
}

.section-5 {
    padding-bottom: 5vmin;
}

.section-5 .card {
    width: 15em;
    margin-top: 2vmin;
    height: 30em;
}

.section-5 .card-img-top {
    height: 15em; 
    background: var(--bggradient);
}
.section-5 .card-img-top2 {
    height: 15em;
    width: 12em;    
	  margin-left: 10vmin;
    background: var(--bggradient);
}

.section-5 .card .card-text {
    padding: 0.5em;
    color: black ;
}

.section-5 .card-body {
    font-family: var(--Rubik);
    padding: 1em;
}

.section-5 .card-body>h3 {
    font-size: 1.5em;
    color: black;
}

/* ****************************** Order list ***************************** */
.section-5 .order-list {

    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;

}

.section-5 .cart {
    min-height: 500px;
}